{% extends "layout.html" %}
{% block script %}
<script type="text/javascript">
    window.onload = function() {
        function getFileData(myFile) {
            var files = myFile.files;
            var fTableBody = document.getElementById('fileTableBody');
            for (let i = 0; i < files.length; i++) {
                var filename = files[i].name;
                var size = files[i].size / 1000;
                if (size > 1000.0) {
                    size = (size / 1000).toFixed(2) + ' MB';
                } else {
                    size = (size).toFixed(2) + ' KB';
                }
                fTableBody.innerHTML += '<tr><td>' + filename + '</td><td>' + size + '</td></tr>';
            }
        }

        var colors = ["#00F", "#0F0", "#F00", "#F0F"];
        var css = document.createElement("style");
        css.type = "text/css";
        var colorIndex = 0;

        function changeColors() {
            colorIndex = (colorIndex + 1) % colors.length;
            var nextColor = colors[colorIndex];
            css.innerHTML = "th,td{border-bottom-color:" + nextColor + ";}";
            css.innerHTML += "th{color:" + nextColor + ";}";
            css.innerHTML += "#ninja-scroll-hd{color:" + nextColor + ";}";
            document.body.appendChild(css);
        }

        var currentNumber = 1;

        function progressiveRandomNumber() {
            if (currentNumber > 20000)
                currentNumber = 1;
            currentNumber += currentNumber / (Math.sqrt(currentNumber)) + currentNumber / 3;
            console.log(currentNumber);
            return currentNumber;
        }

        (function randomizeChangeColor() {
            var randomTime = progressiveRandomNumber();
            setTimeout(function () {
                changeColors();
                randomizeChangeColor();
            }, randomTime);
        }());

        function toggleInfo() {
            var infoBox = document.getElementById('infoBox');
            if (infoBox.style.display == 'none') {
                infoBox.style.display = 'block';
            } else {
                infoBox.style.display = 'none';
            }
        }
    }
</script>
{% endblock %}
{% block style %}
<style>
    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        cursor: pointer;
    }
</style>
{%- endblock -%}
{% block body %}
<div class="container">
    <div class="row">
        <h1 id="ninja-scroll-hd" class="text-center" style="font-family:NjNaruto">Ninja Scroll Delivery Service</h1>
    </div>
    <div class="row .text-center">
{#        <img src="{{ url_for('static', filename='img/shuriken.png') }}" alt="shuriken-px-art">#}
    </div>
    <form action="" method=post enctype=multipart/form-data>
        <div class="row">
            <label style="font-family:NjNaruto">Ninja clan sign</label>
        </div>
        <div class="row">
            <input class="u-full-width" type="password" name="password" id="pass" required>
        </div>
        <br>
        <div class="row">
            <div class="four columns">
                <label class="custom-file-upload button button-primary u-full-width">
                    <input type="file" id="fileInput" name="file[]" onchange="getFileData(this);" multiple>
                     Add files
                </label>
            </div>
            <div class="four columns">
                <input class="button-primary u-full-width" type=submit style="margin-bottom:10px"; value=Upload>
            </div>
            <div class="four columns">
                <input class="button-primary u-full-width" type=button value="info" style="margin-bottom:10px"; onclick="toggleInfo();event.preventDefault();">
            </div>
        </div>
        <div class="row" id="infoBox" style="display:none">
        <br>
            <ul>
                <li>Only 'txt', 'pdf', 'png', 'jpg', 'jpeg', 'gif' extensions are allowed.</li>
                <li>Files should be less than 5.0 MB in size.</li>
                <li>Images may be compressed to store space.</li>
                <li>To get a ninja clan sign/password, contact the sensei.</li>
            </ul>
        </div>
    </form>
    <div class="row">
        <ul id="fileList">
            <table id="fileTable" class="u-full-width">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody id="fileTableBody">

                </tbody>
            </table>
        </ul>
    </div>
</div>
{% endblock %}